/*  your css code here. If applicable */
.grid-container{
	height:400px;
	width:400px;
	border:1px solid black;
	display:grid;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-columns:1fr 1fr 1fr;
}

.grid-container > div{
	border:1px solid black;
	background-color:rgb(255, 0, 0);
}

